<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.start">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Bridge">
        <activity android:name=".popup"></activity>
        <activity android:name=".RangeActivity" />
        <activity android:name=".TransactionsActivity" />
        <activity android:name=".EditCategoryActivity" />
        <activity android:name=".EditShopActivity" />
        <activity android:name=".ShopsDisplay" />
        <activity android:name=".createCategory" />
        <activity android:name=".reset" />
        <activity android:name=".forgot" />
        <activity android:name=".addshop" />
        <activity android:name=".home" />
        <activity android:name=".addcategory" />
        <activity android:name=".Settings" />
        <activity android:name=".showanalysis" />
        <activity android:name=".profile" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Messagereciever"
            android:exported="true">
            <intent-filter android:priority="900">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>